<!-- Left Column -->
<div id="hide" class="col-md-1 sitebar noSpace" style="width: 6.333%">
  <ul class="nav col-md-12 " style="width:120px;">
    <li class="nav-item noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../clinic',{outlets:{'c2':['c1']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/buildings-big.png'>
        </div>
        <div class="txt_manu_l">
          คลีนิค
        </div>
      </a>
    </li>
    <li class="noSpace col-md-12 navItem">
      <a class="a nav-link " [routerLink]="['../clinic',{outlets:{'c2':['c2']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          ทะเบียน
        </div>
      </a>
    </li>
    <li class="noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../clinic',{outlets:{'c2':['c3']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          ห้องตรวจ
        </div>
      </a>
    </li>
    <!--<li class="noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../clinic',{outlets:{'c2':['c4']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          IPD
        </div>
      </a>
    </li>-->
    <li class="noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../clinic',{outlets:{'c2':['c4']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          ห้องยา
        </div>
      </a>
    </li>
    <li class="noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../clinic',{outlets:{'c2':['c5']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          ฟิตเน็ต
        </div>
      </a>
    </li>
    <li class="noSpace col-md-12">
      <a class="a nav-link" [routerLink]="['../money',{outlets:{'c2':['c6']}}]" [routerLinkActive]="['active']">
        <div>
          <img src='./assets/images/star-small.png'>
        </div>
        <div class="txt_manu_l">
          การเงิน
        </div>
      </a>
    </li>


  </ul>


</div>
<div id="page-wrapper">
  <div class="col-md-12 noSpace">
    <!-- Center Column -->
    <div class="col-md-12 p">
      <router-outlet name='c2'></router-outlet>
    </div>
    <!--/Center Column-->
  </div>

</div>


<!--/Left Column-->