<div class="collapse navbar-toggleable-sm " id="navbar"style="width:100%;">
  <ul  class="nav navbar-nav noSpace">
      <li  class="nav-item productMenu noSpace" style="vertical-align:top;">
          <a class=" topMenu noSpace"[routerLink]="[{outlets:{'c3':['t1']}}]" [routerLinkActive]="['productMenuactive']">
              <div class="img_u">
                  <img src='./assets/images/star-small.png'>
              </div>
              <div class="txt_manu_l">
                  ค้นหารายชื่อ
              </div>
          </a>
      </li>
      <li class="nav-item productMenu noSpace">
          <a class="topMenu noSpace" [routerLink]="[{outlets:{'c3':['t2']}}]" [routerLinkActive]="['productMenuactive']" >
              <div class="img_u">
                  <img src='./assets/images/buildings-big.png'>
              </div>
              <div class="txt_manu_l">
                  คิวห้องคัดกรอง
              </div>
          </a>
      </li>
      <li class="nav-item productMenu noSpace">
        <a class="topMenu noSpace" [routerLink]="[{outlets:{'c3':['t3']}}]" [routerLinkActive]="['productMenuactive']" >
            <div class="img_u">
                <img src='./assets/images/buildings-big.png'>
            </div>
            <div class="txt_manu_l">
                คิวห้องคัดกรอง
            </div>
        </a>
    </li>
  </ul>
</div> 
<router-outlet name='c3'></router-outlet>
