<span *ngIf='if_text=="table"'>
  <div class="menubar">
    <h2 class="h_text">
      <font color="White">คิวห้องตรวจ</font>
    </h2>
    <h5>
      <font color="White">Medical record > Dashboard</font>
    </h5>
  </div>
  <div class="page">
    <!-- <button (click)="myinsert()" type="button" class="btn btn-primary r">
          เพิ่มประวัติผู้ป่วย
        </button> -->
    <table class="table table-striped table-bordered table-hover" id="myTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ชื่อ - นามสกุล</th>
          <th scope="col">เวลา</th>
          <th scope="col">ข้อมูลผู้ป่วย</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of data_ph; let n = index">
          <th scope="row">{{n+1}}</th>
          <td>{{i.name_ph}} {{i.lastname_ph}}</td>
          <td></td>
          <td>
            <button (click)="myPatient(i.id_screening)" type="button" class="btn btn-primary">ข้อมูลผู้ป่วย</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</span>

<span *ngIf='if_text=="form"'>
  <div class="menubar">
    <h2 class="h_text">
      <font color="White">ประวัติผู้ป่วย</font>
    </h2>
  </div>
  <div class="page">
    <span [className]='page1'>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item homeMenu" style="vertical-align:top;">
            <a class=" topMenu1 noSpace1 activel" (click)="my_page1()">
              <div class="txt_manu_l">
                ข้อมูลผู้ป่วย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu">
            <a class="topMenu1 noSpace1" (click)="my_page2()">
              <div class="txt_manu_l">
                การวินิจฉัย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page3()">
              <div class="txt_manu_l">
                Medication
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page4()">
              <div class="txt_manu_l">
                หัตถการ
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page5()">
              <div class="txt_manu_l">
                การนัดหมาย
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          ข้อมูลส่วนตัว
        </div>
        <div class="card-body">
          <form #editform='ngForm' (ngSubmit)="edit(editform.value);">
            <div class="row">
              <div class="col-md-2">
                <label for="n_ph">คำนำหน้า</label>
                <select class="form-control" [(ngModel)]='PRENAMEID' name="PRENAME_ID" id="n_ph" disabled>
                  <option selected="selected" value="">คุณ</option>
                  <option *ngFor="let i of data_pername;" value="{{i.PRENAME_ID}}">{{i.PRENAME}}</option>
                </select>
              </div>
              <div class="col-md-5">
                <label for="name_ph">ชื่อ</label>
                <input [(ngModel)]='name_ph' ngModel type="text" name="name_ph" class="form-control" id="name_ph" readonly>
              </div>
              <div class="col-md-5">
                <label for="lastname_ph">นามสกุล</label>
                <input [(ngModel)]='lastname_ph' ngModel type="text" name="lastname_ph" class="form-control" id="lastname_ph" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="birthday">วันเกิด</label>
                <input type="date" [(ngModel)]='birthday' ngModel name="birthday" class="form-control" id="birthday" readonly="">
              </div>
              <div class="col-md-4">
                <label for="time_birthday">เวลาเกิด</label>
                <input type="time" [(ngModel)]='time_birthday' ngModel name="time_birthday" class="form-control" id="time_birthday" readonly="">
              </div>
              <div class="col-md-4">
                <label for="sex_ph">เพศ</label>
                <select class="form-control" [(ngModel)]='sex_ph' ngModel name="sex_ph" id="sex_ph" readonly="" disabled>
                  <option value="m">ชาย</option>
                  <option value="f">หญิง</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="no">บ้านเลขที่</label>
                <input type="text" class="form-control" [(ngModel)]='no' ngModel name="no" id="no" readonly="">
              </div>
              <div class="col-md-1">
                <label for="moo">หมู่</label>
                <input type="text" class="form-control" [(ngModel)]='moo' ngModel name="moo" id="moo" readonly="">
              </div>
              <div class="col-md-6">
                <label for="road">ถนน</label>
                <input type="text" class="form-control" [(ngModel)]='road' ngModel name="road" id="road" readonly="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="PROVINCE_ID">จังหวัด</label>
                <select class="form-control" [(ngModel)]="PROVINCE_ID" name="PROVINCE_ID" id="PROVINCE_ID" (change)="my_amphures(PROVINCE_ID)"
                  readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_province;" value="{{i.PROVINCE_ID}}">{{i.PROVINCE_NAME}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="AMPHUR_ID">อำเภอ</label>
                <select class="form-control" [(ngModel)]="AMPHUR_ID" name="AMPHUR_ID" id="AMPHUR_ID" (change)="my_district(AMPHUR_ID)" readonly=""
                  disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_getamphures;" value="{{i.AMPHUR_ID}}">{{i.AMPHUR_NAME}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="DISTRICT_ID">ตำบล</label>
                <select class="form-control" [(ngModel)]="DISTRICT_ID" name="DISTRICT_ID" id="DISTRICT_ID" readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_district;" value="{{i.DISTRICT_ID}}">{{i.DISTRICT_NAME}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="OCCUPATION_ID">อาชีพ</label>
                <select class="form-control" [(ngModel)]='OCCUPATION_ID' ngModel name="OCCUPATION_ID" id="OCCUPATION_ID" readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_tb_occupation;" value="{{i.OCCUPATION_ID}}">{{i.OCCUPATION_NAME}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="tel">โทรศัพท์</label>
                <input [(ngModel)]='tel_ph' ngModel name="tel_ph" class="form-control" id="tel" readonly="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="ETHNICITYE_ID">เชื้อชาติ</label>
                <select class="form-control" [(ngModel)]='ETHNICITYE_ID' ngModel name="ETHNICITYE_ID" id="ETHNICITYE_ID" readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_tb_ethnicity;" value="{{i.ETHNICITYE_ID}}">{{i.ETHNICITY_NAME}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="NATIONALITY_ID">สัญชาติ</label>
                <select class="form-control" [(ngModel)]='NATIONALITY_ID' ngModel name="NATIONALITY_ID" id="NATIONALITY_ID" readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_tb_nationality;" value="{{i.NATIONALITY_ID}}">{{i.NATIONALITY_NAME}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="RELIGION_ID">ศาสนา</label>
                <select class="form-control" [(ngModel)]='RELIGION_ID' ngModel name="RELIGION_ID" id="RELIGION_ID" readonly="" disabled>
                  <option value="">กรุณาเลือก</option>
                  <option *ngFor="let i of data_tb_religion;" value="{{i.RELIGION_ID}}">{{i.RELIGION_NAME}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table>
                  <tr *ngFor="let i of data_allergys;">
                    <td>{{'- '+i.n_medicine}}</td>
                  </tr>
                </table>

              </div>
            </div>
          </form>
        </div>
      </div>
    </span>
    <span [className]='page2'>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item homeMenu" style="vertical-align:top;">
            <a class=" topMenu1 noSpace1" (click)="my_page1()">
              <div class="txt_manu_l">
                ข้อมูลผู้ป่วย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu">
            <a class="topMenu1 noSpace1 activel" (click)="my_page2()">
              <div class="txt_manu_l">
                การวินิจฉัย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page3()">
              <div class="txt_manu_l">
                Medication
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page4()">
              <div class="txt_manu_l">
                หัตถการ
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page5()">
              <div class="txt_manu_l">
                การนัดหมาย
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          การวินิจฉัย
        </div>
        <div class="card-body">
          <div class="row">
            <div class="text-left">แพทย์ผู้วินิจฉัย</div>
            <div class="col-md-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="text-left">Code map</div>
            <div class="col-md-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="text-left">อาการของโรค</div>
            <div class="col-md-12">
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
    </span>
    <span [className]='page3'>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item homeMenu" style="vertical-align:top;">
            <a class=" topMenu1 noSpace1" (click)="my_page1()">
              <div class="txt_manu_l">
                ข้อมูลผู้ป่วย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu">
            <a class="topMenu1 noSpace1" (click)="my_page2()">
              <div class="txt_manu_l">
                การวินิจฉัย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1 activel" (click)="my_page3()">
              <div class="txt_manu_l">
                Medication
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page4()">
              <div class="txt_manu_l">
                หัตถการ
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page5()">
              <div class="txt_manu_l">
                การนัดหมาย
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                รายการยา
            </div>
            <div class="card-body">
              <div class="row">
                    <div class="col-md-3">
                      <select class="form-control">
                        <option>กรุณาเลือก</option>
                      </select>
                    </div>
                    <div class="text-left">จำนวน</div>
                    <div class="col-md-2">
                      <input type="text" class="form-control">
                    </div>
                    <div class="text-left">หน่วย</div>
                    <div class="col-md-3">
                      <select class="form-control">
                        <option>กรุณาเลือก</option>
                      </select>
                    </div>
              </div>


            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                แพ้ยา
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                 
  
  
                  </div>
                </div>
  
  
              </div>
            </div>
          </div>
      </div>
    </span>
    <span [className]='page4'>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item homeMenu" style="vertical-align:top;">
            <a class=" topMenu1 noSpace1" (click)="my_page1()">
              <div class="txt_manu_l">
                ข้อมูลผู้ป่วย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu">
            <a class="topMenu1 noSpace1" (click)="my_page2()">
              <div class="txt_manu_l">
                การวินิจฉัย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page3()">
              <div class="txt_manu_l">
                Medication
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1 activel" (click)="my_page4()">
              <div class="txt_manu_l">
                หัตถการ
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page5()">
              <div class="txt_manu_l">
                การนัดหมาย
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          หัตถการ
        </div>
        <div class="card-body">
          <div class="row">
            <div class="text-left">ชื่อหัตถการ</div>
            <div class="col-md-4">
              <input type="text" class="form-control">
            </div>
            <div class="text-left">แพทย์ผู้ทำ</div>
            <div class="col-md-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="text-left">เวลาเริ่ม</div>
            <div class="col-md-2">
              <input type="time" class="form-control">
            </div>
            <div class="text-left">เวลาสิ้นสุด</div>
            <div class="col-md-2">
              <input type="time" class="form-control">
            </div>
            <div class="text-left">ICD9</div>
            <div class="col-md-2">
              <input type="text" class="form-control">
            </div>
            <div class="text-left">ค่าบริการ</div>
            <div class="col-md-2">
              <input type="number" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </span>
    <span [className]='page5'>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="width:100%;">
        <ul class="nav navbar-nav">
          <li class="nav-item homeMenu" style="vertical-align:top;">
            <a class=" topMenu1 noSpace1" (click)="my_page1()">
              <div class="txt_manu_l">
                ข้อมูลผู้ป่วย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu">
            <a class="topMenu1 noSpace1" (click)="my_page2()">
              <div class="txt_manu_l">
                การวินิจฉัย
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page3()">
              <div class="txt_manu_l">
                Medication
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1" (click)="my_page4()">
              <div class="txt_manu_l">
                หัตถการ
              </div>
            </a>
          </li>
          <li class="nav-item clinicMenu1">
            <a class="topMenu1 noSpace1 activel" (click)="my_page5()">
              <div class="txt_manu_l">
                การนัดหมาย
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          การนัดหมาย
        </div>
        <div class="card-body">
        </div>
      </div>
    </span>
  </div>
</span>