.menubar{
    background-color: rgb(255, 174, 0);
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}.r{
    float: right;
    margin-bottom: 10px;
}.row{
    margin-bottom: 15px;
}.card-body{
    padding: 15px;
}.radio{
    margin-left: -20px;
}.down{
    position: relative;
    top: 35px;
}.textinline{
    float: left;
}.left{
    margin-left: 15px;
}
