<div class="menubar">
  <h2>
    <font color="White">ข้อมูลผู้ป่วย</font>
  </h2>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-primary">
          <div class="card-header bg-primary">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-file-text-o" style="font-size:76px;"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"></div>
                      <div><b>ข้อความ</b></div>
                  </div>
              </div>
          </div>
          <a class="cl-primary" href="">
              <div class="card-footer">
                  <span class="pull-left">รายละเอียด</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-success">
          <div class="card-header bg-success">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-file-text-o" style="font-size:76px;"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"></div>
                      <div><b>ข้อความ</b></div>
                  </div>
              </div>
          </div>
          <a class="cl-success" href="">
              <div class="card-footer">
                  <span class="pull-left">รายละเอียด</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-info">
          <div class="card-header bg-info">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-file-text-o" style="font-size:76px;"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"></div>
                      <div><b>ข้อความ</b></div>
                  </div>
              </div>
          </div>
          <a class="cl-info" href="">
              <div class="card-footer">
                  <span class="pull-left">รายละเอียด</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-warning">
          <div class="card-header bg-warning">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-file-text-o" style="font-size:76px;"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"></div>
                      <div><b>ข้อความ</b></div>
                  </div>
              </div>
          </div>
          <a class="cl-warning" href="">
              <div class="card-footer">
                  <span class="pull-left">รายละเอียด</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="card text-white bg-inverse">
          <div class="card-header bg-inverse">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-file-text-o" style="font-size:76px;"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"></div>
                      <div><b>ข้อความ</b></div>
                  </div>
              </div>
          </div>
          <a   class="cl-inverse" href="">
              <div class="card-footer">
                  <span class="pull-left">รายละเอียด</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
</div>